<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/lobby.css">
	<title>Lobby</title>
</head>
<body>
<!-- color plume -->
<div class="duo">

<div class="jeu">

</div>	

<div class="carre">
	<div class="info">
		<h4>Nombre de joueur en ligne</h4>
		<p>2</p>
	</div>
	<div class="info">
		<h4>Win %</h4>
		<p>50%</p>
	</div>
	<div class="info">
		<h4>Nombre de games</h4>
		<p>2</p>
	</div>
	<div class="info">
		<h4>Adversaire préféré</h4>
		<p>Yohan</p>
	</div>
</div>
</div>
</body>
</html>